body {
    font-family: 'Poppins', sans-serif;
    background-color: #eef4f9;
    color: #333;
}

header {
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('../assets/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px;
    text-align: center;
    position: relative;
    
}

/* Navbar Styling */
.navbar {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2px 0;
}

.container {
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff7f50;
}
.navbar-button {
    display: flex;
  }
  
  .btn-auth {
    background-color: #ff7f50; /* Orange color */
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;
    text-decoration: none;
    
    transition: background-color 0.3s ease;
  }
  .nav-links li .btn-auth{
    font-size: 15px;
    font-weight: 500;
  }
  
  .btn-auth:hover {
    background-color: #e66a33; /* Darker orange for hover effect */
    color: white;
  }

/* Hamburger for Mobile View */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 24px;
}

.header-content {
    max-width: 600px;
    margin: auto;
   
    padding-top: 80px; /* Adjusted for navbar height */
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #ffcc00;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e6b800;
}

#search-section {
    text-align: center;
    padding: 15px ;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}

.search-container {
    display: inline-flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

#search-input {
    padding: 10px;
    border: none;
    outline: none;
    width: 300px;
}

#search-button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

#search-button:hover {
    background-color: #e6b800;
}

#highlights {
    padding: 20px 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 20px; /* Added spacing */
}

#highlights h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ff7f50;
}

#highlights ul {
    list-style: none;
    padding: 0;
}

#highlights li {
    margin: 10px 0;
    font-size: 1.1rem;
}

#featured-simulations h2{
    color: #ff7f50;
}
#featured-simulations {
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    text-align: center;
}

.simulation-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.simulation-card {
    width: 330px;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.simulation-card:hover {
    transform: translateY(-10px);
}

.simulation-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.view-all-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.view-all-button:hover {
    background-color: #e6b800;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}




